@import url(./normalize.css);
@import url(./reset.css);

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #CCC;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* header */
.header {
  background: #fff;
  height: 15vh;
  padding: 0px 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* logo */
.logo {
  background-color: blue;
  position: absolute;
  top: 45px;
  left: 60px;
}

/* textlink group */
.member {
  background-color: aqua;
  text-align: right;
}

.member li {
  display: inline-block;
}

.member a {
  background-color: coral;
  padding: 10px 0;
  display: inherit;
}

.divider {
  margin-right: 4px;
}



/* visual */
.visual {
  background: #573026;
  height: 10vh;
}
/* main */
.main {
  background: #5e2f9e;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
  background-color: aquamarine;
}
.group2 {
  width: 380px;
  background-color: burlywood;
}
.group3 {
  width: 190px;
  background-color: lemonchiffon;
}

/* slogan */
.slogan {
  background: #525252;
  height: 10vh;
  clear: both;
}
/* footer */
.footer {
  background: #742e3F;
}

.footer-inner {
  background: lightblue;
  height: 15vh;
}